<f:layout name="Page"/>
<div xmlns="http://www.w3.org/1999/xhtml" lang="en"
     xmlns:f="http://typo3.org/ns/fluid/ViewHelpers"
     xmlns:flux="http://typo3.org/ns/FluidTYPO3/Flux/ViewHelpers"
     xmlns:v="http://typo3.org/ns/FluidTYPO3/Vhs/ViewHelpers">
    
    
    <f:section name="Configuration">
        <flux:form id="article">
            <!-- Backend layout grid (TYPO3 6.x and greater only) -->
            <flux:grid>
                <flux:grid.row>
                    <flux:grid.column colPos="0" name="Content" colspan="2"/>
                    <flux:grid.column colPos="1" name="Sidebar" colspan="1"/>                    
                </flux:grid.row>
            </flux:grid>
        </flux:form>
    </f:section>
    
    <f:section name="BodyTagAttributes"> class="inner"</f:section>

    <f:section name="Content">
        <div class="container articleRow"> 
            <div class="row clearfix">
                <div class="col-sm-5 pull-left tabletFullWidth">
                    <div class="infoSmall articleInfo">
                        <f:render partial="Pageinfo" />                    
                    </div>
                    <v:content.render column="0"/>
                </div>
                <div class="col-sm-2 clearLR pull-right">
                    <!--TYPO3SEARCH_begin-->
                    <v:content.render column="1"/>
                    <!--TYPO3SEARCH_end-->
                </div>
            </div>
            
            <!--search toggle-->
            <f:render partial="Searchbox" />
            <f:render partial="Loginstatus" />        
        </div>
        
        
        
        
    </f:section>
    
</div>