<f:layout name="Page"/>
<div xmlns="http://www.w3.org/1999/xhtml" lang="en"
     xmlns:f="http://typo3.org/ns/fluid/ViewHelpers"
     xmlns:flux="http://typo3.org/ns/FluidTYPO3/Flux/ViewHelpers"
     xmlns:v="http://typo3.org/ns/FluidTYPO3/Vhs/ViewHelpers">


    <f:section name="Configuration">
        <flux:form id="intranet">
            <flux:grid>
                <flux:grid.row>
                    <flux:grid.column colPos="2" name="Slider" colspan="2" rowspan="2"/>
                    <flux:grid.column colPos="3" name="Image 1" colspan="2" rowspan="1" variables="{allowedContentTypes:'image'}"/>
                </flux:grid.row>
                <flux:grid.row>
                    <flux:grid.column colPos="7" name="Image 2" colspan="1" variables="{allowedContentTypes:'image'}"/>
                    <flux:grid.column colPos="1" name="Sidebar" colspan="1" rowspan="2"/>
                </flux:grid.row>
                <flux:grid.row>
                    <flux:grid.column colPos="0" name="Local news" colspan="2"/>
                    <flux:grid.column colPos="8" name="General news" colspan="1"/>
                </flux:grid.row>
                <flux:grid.row>
                    <flux:grid.column colPos="4" name="Box 1" colspan="1" />
                    <flux:grid.column colPos="5" name="Box 2" colspan="1" />
                    <flux:grid.column colPos="6" name="Box 3" colspan="2" />
                </flux:grid.row>
            </flux:grid>
        </flux:form>
    </f:section>

    <f:section name="BodyTagAttributes"> class="inner"</f:section>

    <f:section name="Content">
		<section class="content">
			<div class="container full"> 
				<!--main content area-->
				<div class="row">
					<div class="container">
						<div class="row-table">
							<div id="carousel-example-generic" class="col-sm-4  row-table-cell infoSmallintranet carousel slide" data-ride="carousel">
								
								<v:content.render column="2"/>
								
							</div>
							
							<div class="col-sm-3  row-table-cell innerRightCntr">
								<div class="visibleDesktop image1">
									<v:content.render column="3" loadRegister="{fixedHeight:'161c',fixedWidth:'507c'}" limit="1"/>
										
								</div>
								<div class="innerSmallImg visibleDesktop image2">
									<v:content.render column="7" limit="1" />

								</div>
							</div>
						</div>
					</div>
					<div class="container">
						<div class="intranetNews clearfix">
							<div class="col-sm-5 clearfix">
								<div class="clearfix localeNews">
									<v:content.render column="0"/>
								</div>
								<div class="clearfix generalNews">
									<v:content.render column="8"/>
								</div>
							</div>
							<div class="col-sm-2 visibleDesktop clearLR"></div>
						</div>
					</div>
					<div class="greenListCntr">
						<div class="greenList">
							<v:content.render column="1"/>
						</div>
					</div>
					<div class="container localBoxes clearfix">
						<div class="boxItem">
							<v:content.render column="4"/>
						</div>
						<div class="boxItem">
							<v:content.render column="5"/>
						</div>
						<div class="boxItem lastBox">
							<v:content.render column="6"/>
						</div>
					</div>
				</div>
				<!--search toggle-->
				<f:render partial="Searchbox" />
				<f:render partial="Loginstatus" /> 	
			</div>
		</section>
	</f:section>
</div>