{namespace n=Tx_News_ViewHelpers}

<f:for each="{news}" as="newsItem" iteration="iterator">
	
	<div class="newsItem clearfix">
		<h2>{newsItem.title}</h2>
		
		<p class="data">
			<n:format.date format="{f:translate(key:'altDateFormat')}">{newsItem.datetime}</n:format.date>
	
			<f:if condition="{newsItem.firstCategory}">
				• {newsItem.firstCategory.title}
			</f:if>
			
		</p>
	
		<div class="newsCntr"> 
			
			<f:if condition="{newsItem.falMedia}">
					<!-- fal media preview element -->
				<f:then>
					<f:if condition="{newsItem.falMediaPreviews}">
						<f:then>
							<n:link newsItem="{newsItem}" settings="{settings}">
								<f:alias map="{mediaElement: newsItem.falMediaPreviews.0}">
									<f:if condition="{mediaElement.originalResource.type} == 2">
										<f:cObject typoscriptObjectPath="lib.responsiveImage" data="{file:'{mediaElement.uid}',width:'168c',height:'168c'}" currentValueKey="file" />
									</f:if>
									<f:if condition="{mediaElement.originalResource.type} == 4">
										<f:render partial="Detail/FalMediaVideo" arguments="{mediaElement: mediaElement}" />
									</f:if>
								</f:alias>
							</n:link>
						</f:then>
						<f:else>
							<f:if condition="{settings.displayDummyIfNoMedia}">
								<n:link newsItem="{newsItem}" settings="{settings}">
										<f:image src="{settings.list.media.dummyImage}" title="" alt="" maxWidth="{settings.list.media.image.maxWidth}" maxHeight="{settings.list.media.image.maxHeight}" />
								</n:link>
							</f:if>
						</f:else>
					</f:if>

				</f:then>
				<f:else>
					<f:if condition="{newsItem.media}">
						<!-- media preview element -->
						<f:then>
							<div class="news-img-wrap">
								<f:if condition="{newsItem.mediaPreviews}">
									<f:then>
										<n:link newsItem="{newsItem}" settings="{settings}">
											<f:alias map="{mediaElement: newsItem.mediaPreviews.0}">
												<f:if condition="{mediaElement.type} == 0">
														<f:image src="uploads/tx_news/{mediaElement.image}" title="{mediaElement.title}" alt="{mediaElement.alt}" maxWidth="{settings.list.media.image.maxWidth}" maxHeight="{settings.list.media.image.maxHeight}" />
												</f:if>
												<f:if condition="{mediaElement.type} == 1">
														<f:render partial="Detail/MediaVideo" arguments="{mediaElement: mediaElement}" />
												</f:if>
												<f:if condition="{mediaElement.type} == 2">
														<f:render partial="Detail/MediaHtml" arguments="{mediaElement: mediaElement}" />
												</f:if>
											</f:alias>
										</n:link>
									</f:then>
									<f:else>
											<f:if condition="{settings.displayDummyIfNoMedia}">
									<span class="no-media-element">
											<n:link newsItem="{newsItem}" settings="{settings}">
													<f:image src="{settings.list.media.dummyImage}" title="" alt="" maxWidth="{settings.list.media.image.maxWidth}" maxHeight="{settings.list.media.image.maxHeight}" />
											</n:link>
									</span>
											</f:if>
									</f:else>
								</f:if>

							</div>
						</f:then>
						<f:else>
							<f:if condition="{settings.displayDummyIfNoMedia}">
								<f:then>
									<div class="news-img-wrap">
											<n:link newsItem="{newsItem}" settings="{settings}">
									<span class="no-media-element">
											<f:image src="{settings.list.media.dummyImage}" title="" alt="" maxWidth="{settings.list.media.image.maxWidth}" maxHeight="{settings.list.media.image.maxHeight}" />
									</span>
											</n:link>
									</div>
								</f:then>
							</f:if>
						</f:else>
					</f:if>
				</f:else>
			</f:if>
	
			<p>
				<f:if condition="{newsItem.teaser}">
					<f:then>
						<f:format.crop maxCharacters="{settings.cropMaxCharacters}" respectWordBoundaries="1">{newsItem.teaser}</f:format.crop>
					</f:then>
					<f:else>
						<f:format.crop maxCharacters="{settings.cropMaxCharacters}" respectWordBoundaries="1">{newsItem.bodytext}</f:format.crop>
					</f:else>
				</f:if>
				<n:link newsItem="{newsItem}" settings="{settings}">
					<f:translate key="more-link" /> &rsaquo;&rsaquo;
				</n:link>
			</p>
		</div>	
		
	</div>
	<n:excludeDisplayedNews newsItem="{newsItem}" />
</f:for>